<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6923.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="8B3CD607FE669E8B85A90061BD155507F5071F343FDAF9370A3599CF3CC85801B61D9B508F58C04466E5D99DF6C0D97E7768FAA96F7B7FE1C8C7694386B2CF21" decryptionKey="1CC22EA68AFE87657934BFEB6BC5AB5AEFC372FA6F872EBEEDFE5622E62858CD" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="F3178D3CD21FAD96C2FE4F0C0A1DAE7F52F25D9F1575B4283A3B895FB6DDE42F" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="F3178D3CD21FAD96C2FE4F0C0A1DAE7F52F25D9F1575B4283A3B895FB6DDE42F" realm="http://localhost" />
	</relyingParties>
</securityConfig>